.Pokedex-title {
    font-size: 4em;
    text-align: center;
}

.Pokedex-cards {
    justify-content: center;
    padding-left: 10em;
    padding-right: 10em;
    max-width: 1100px;
}

.Pokedex-subtitle {
    font-size: 2em;
    text-align: center;
}

.Pokedex-winner {
    color: green;
}

.Pokedex-loser {
    color: red;
}